<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Orientation</th>
    <th>Running</th>
    <th>shots</th>
  </tr>
 
<% @officers.each do |o| %>
  <tr>
    <td><%= o.name %></td>
    <td><%= o.location %></td>
    <td><%= o.running %></td>
    <td><%= link_to 'Edit', "" %></td>
    <td><%= o.shots %></td>
  </tr>
<% end %>
</table>
 
<br />
