<table width=100% >
<tr border="1" bgcolor="red">
<td rowspan="1" style="width:50px"><img src="/officerup_logo.png"  width="50" height="50"></td>
<td  ><font color="white"><h1>Officer Up</h1></font></td>
</tr>
</table>

 <head>
<title>Bootstrap 101 Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<table class="table table-striped table-bordered table-condensed">
  <tr style="font-size:16pt;">
    <th>Name</th>
    <th>Location</th>
    <th>Map</th>
    <th>Running</th>
    <th>shots</th>
  </tr>
 
<% @officers.each do |o| %>
  <tr style="font-size:14pt;">
    <td><%= o.name %></td>
    <td><%= o.location %></td>
    <td><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%= o.location%>&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=<%= o.location%>&amp;output=embed"></iframe></td>    
    <td><%= o.orientation %></td>
    <td><%= o.running %></td>
    <td><%= o.shots %></td>
  </tr>
<% end %>
</table>
 
<br />
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
